/* CABECERA */
header {
    background-color: pink;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: -40px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo img {
    width: 15%;
    min-height: 4rem;
}
/* FIN CABECERA */


/* NAVEGACIÓN */
.nav {
    display: flex;
    justify-content: space-around;
}

.navmenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    /* background-color: #B08CC1; */
}

.navegador {
    width: 50%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 2.5rem;
    font-size: 1.3rem;
}

.navegador li {
    padding: 0.5rem;
}

.navegador li:hover {
    background-color: #B08CC1;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
}

.compra {
    border: 0;
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#menu {
    display: none;
    position:fixed;
    top: 0rem;
    right:0rem 
}

.labelBurguer {
    display: none;
    position:fixed;
        top: 0rem;
        right:0rem 
}

.burguer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B08CC1;
    /* border: 1px solid #081526; */
    /* border-radius: 5px; */
    background-color: white;
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.divNavegacionSP {
    position: fixed;
    top: 0rem;
    left: -50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    background-color: #84CAE5;
    transition: 500ms;
    /* transition-delay: 500ms; */
    /* transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
/* FIN NAVEGACIÓN */


/* SLIDER */
.contenedorSlides {
    position: absolute;
    z-index: 0;
    width: 500%;
    min-height: 30rem;
    display: flex;
    animation: slide 40s infinite;
}

[class^="slide"] {
    margin: 0%;
    padding: 0%;
    width: 25%;
    height: 10rem;
    background-size: cover;
}
.slide-1 {
    background-image: url(/img/slideindex/1.png);
    background-position: center;
}
.slide-2 {
    background-image: url(/img/slideindex/2.png);
    background-position: center;
}
.slide-3 {
    background-image: url(/img/slideindex/3.png);
    background-position: center;
}
.slide-4 {
    background-image: url(/img/slideindex/4.png);
    background-position: center;
}

.slide-5 {
    background-image: url(/img/slideindex/5.png);
    background-position: center;
} 

.slides img {
    width: 100%;
}

@keyframes slide {
    0% {left: 0%;}
    15% {left: 0%;}

    20% {left: -100%;}
    35% {left: -100%;}

    40% {left: -200%;}
    55% {left: -200%;}
    
    60% {left: -300%;}
    75% {left: -300%;}

    80% {left: -400%;}
    95% {left: -400%;}

    100% {left: 0%;} 
} 
/* FIN SLIDER */


/* MAIN */

    /* Texto bisutería */
.bisuteria {
    margin-top: 10rem;
    margin-bottom: -25px;
    background-color: #E06098;
    padding: 5px;
    text-align: center;
    font-size: 26px;
    color: #f2acb3;
}


.texto1 {
    margin-top: 1rem;
}
/* FIN MAIN */

/* FOOTER */
/* footer {
}
 */
.footerImg {
    width: 100%;
}

.rrss {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.rrss i {
    padding: 1rem;
    margin-top: -5rem;
    margin-left: 24.5rem;
}

.linksfooter {
    display: grid;
    grid-template-columns: none;
    margin-top: -3rem;
    /* justify-content: space-around; */
}

.linksfooter li {
    width: 20%;
    display: flex;
    grid-template-columns: 1rem 2fr;
    margin-left: 5rem;
    margin-top: -2.25rem;
    font-size: 0.4rem;
    line-height: 0.05rem;
}
/* FIN FOOTER */


/* @media (max-width:768px) { 

    nav {
        position:relative
    }
    header {
        padding-top: 0;
    }

    #menu {
        display: none;
            position:fixed;
            top: 0rem;
            right:0rem;
            z-index: 101; 
        }
    
    .divNavegacionSP {
        width: 100%;
    }

    .divNavegacion ul{
        display: none;
    }
        
    #menu:checked  ~ .divNavegacionSP {
        translate: 50rem 0px;
    }
    
    #menu:checked ~ label .burguer      {
        background-color: #84CAE5;
        color: white;
    }
    
    #menu:checked ~ label .burguer {
        background-color: #84CAE5;
        color: white;
        border:none;
    }
    
    .divNavegacionSP ul li:active {
        background-color: #84CAE5;
    }

    .menuMobile {
        position: relative;
        background-color: #84CAE5;
        min-height: 5rem;
        color: #f2acb3;
    }

    .menuMobile2 {
        position: relative;
        text-decoration: underline;
        color: #F2ACB3;
        min-height: 5rem;
    } 
    

    .contenedorSlides {
        width: 100%;
    }

    main {
        margin-top: 2rem;
    }
} */